* {
    font-size: 14px;
}

html, body {
    padding: 0;
    margin: 0;
    min-width: 320px;
}

.container {
    margin: 0 auto;
}

.button {
    font-family: "Roboto", sans-serif;
}


/* -------- header -------- */
.header {
    margin: 0;
}

.header__container {
    max-width: 100%;
    box-shadow: 1px 1px 5px #0982aa;
    background: #b9e9f9;
    color: #0f8ac9;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    margin-right: 5px;
}

.header__title {
    padding: 7px;
    font-size: 1.4em;
    font-weight: 600;
    font-family: "PTSansbold", sans-serif;
    vertical-align: middle;
}

/* -------- description-week  ----------*/
.text__label {
    font-family: Roboto;
    font-size: 1em;
    margin-right: 10px;
}

.description-week {
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px 20px 0 20px;
    background-color: #ffffff;
    color: #000000;
}

.description-week .container {
    max-width: 459px;
    margin: 0 auto;
}

.input {
    font-family: "Bitter-Regular", sans-serif;
    font-size: 12px;
    margin-right: 10px;
}

#select {
    font-size: 12px;
}

.item-selector {
    font-size: 12px;
}

.calendar-items {
    margin-bottom: 20px;
}

#printCalendar {
    margin-left: 0;
}

/* -------- result -------- */
.result {
    max-width: 459px;
    margin: 0 auto;
}

.result__container {
    background-color: #dcffdc;
    height: auto;
    padding: 10px 0;
    font-family: "PTSansbold";
    font-weight: 400;
    font-size: 1.1em;
    box-shadow: 1px 1px 10px #a4efc4;
    color: #0fc52e;
    font-weight: 800;
}

.result__text {
    padding-left: 11px;
}

.text__name-week {
    font-size: 1.2em;
}

/* -------- semester-calendar -------- */
.semester-calendar__container {
    max-width: max-content;
}

#printCalendar {
    visibility: hidden;
    margin-left: auto;
    margin-bottom: 20px;
}

.semester-calendar__container {
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

td,
th {
    border: 0.5px solid rgb(83 156 207);
    padding: 3px;
    text-align: center;
    color: #0f8ac5;
}

th {
    color: #0f8ac5;
    font-weight: bold;
    background-color: #86cdff;
    font-family: "PTSansbold", sans-serif;
}

caption {
    color: #0f8ac5;
    text-align: center;
    caption-side: top;
    font-family: "PTSansbold", sans-serif;
    font-size: 1.2em;
}

/* -------- footer -------- */
.footer__text {
    font-family: "PTSansbold", sans-serif;
    background: #b9e9f9;
    padding: 8px 0;
    border-top: 2px solid #94e4ff;
    color: #0f8ac9;
}

/* ---------------------------------------- */
@media (max-width: 1599px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 680px) {
    .description-week .container {
        padding-left: 0;
    }

}

@media (max-width: 575px) {
    .description-week {
        padding-top: 0px;
    }

    .text__name-week {
        font-size: 1em;
    }

    #select, .input {
        font-size: 0.7em;
    }

    .result__container {
        height: auto;
    }

    .text__label {
        font-size: 0.8em;
    }

    .button {
        font-size: 0.8em;
    }

    #printCalendar {
        display: none;
    }
}

@media (max-width: 375px) {
    .header__container {
        height: 40px;
    }

    .header__title {
        padding-top: 15px;
        font-size: 1.1em;
    }

    .header__image {
        height: 30px;
    }
}

/* Печать */
@media print {
    .semester-calendar__container {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .header__container,
    .description-week__container,
    .result__container,
    .footer, .print-calendar {
        display: none;
    }

    #printCalendar {
        visibility: hidden;
    }

    table {
        text-align: left;
    }

}